  #  创建Series对象
    pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [2]:
import pandas as pd

In [7]:
a = [2,3,4,5,6]

In [8]:
c = pd.Series(a)

In [ ]:
k

In [9]:
c

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [49]:
a.append(8)

In [86]:
d = pd.Series({'a':2,'b':-3,'c':5})

In [88]:
a

[2, 3, 4, 5, 6, 8]

In [11]:
d

a    2
b    3
c    5
dtype: int64

In [51]:
c

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [13]:
d.loc['b']

3

In [14]:
d[2]

5

In [15]:
d['c']

5

# 字典指定index，若无对应值，则为NaN

In [20]:
d = pd.Series({'a':2,'b':3,'c':5},index = ['c','b','d','a'])

In [21]:
d

c    5.0
b    3.0
d    NaN
a    2.0
dtype: float64

In [44]:
dic = {'a':2,'b':3,'c':5}

In [45]:
d = pd.Series(dic ,index = ['c','b','d','a'],name = 'test')

In [46]:
d

c    5.0
b    3.0
d    NaN
a    2.0
Name: test, dtype: float64

In [47]:
dic['a']= 8

In [48]:
d

c    5.0
b    3.0
d    NaN
a    2.0
Name: test, dtype: float64

In [55]:
d = pd.Series({'a':2,'b':3,'c':5},index = ['c','b','d','a'],name = 'test',copy=True)

In [33]:
d

c    5.0
b    3.0
d    NaN
a    2.0
Name: test, dtype: float64

In [82]:
d['d']

nan

In [54]:
d[3]

2.0

#  Series的常用属性，index/axes获取索引，size获取长度，empty判断是否为空

In [57]:
d.axes

[Index(['c', 'b', 'd', 'a'], dtype='object')]

In [59]:
d.dtype

dtype('float64')

In [61]:
d.dtypes

dtype('float64')

In [62]:
d.empty

False

In [63]:
d.values

array([ 5.,  3., nan,  2.])

In [64]:
d.size

4

In [65]:
d.ndim

1

In [66]:
d.shape

(4,)

In [70]:
d.index

Index(['c', 'b', 'd', 'a'], dtype='object')

In [89]:
d.empty

False

In [100]:
e= pd.Series([3,0,2,1,4,'e',''])

In [101]:
e

0    3
1    0
2    2
3    1
4    4
5    e
6
dtype: object

In [143]:
df = pd.DataFrame({"A": [1, 2], "B": [0, 2], "C": [0, -9],"D":['X','Z'],"E":['X',9]})

In [144]:
df

   A  B  C  D  E
0  1  0  0  X  X
1  2  2 -9  Z  9

In [147]:
df.max()

A    2
B    2
C    0
D    Z
dtype: object

In [149]:
df.sum()

A     3
B     2
C    -9
D    XZ
dtype: object

In [116]:
idx = pd.MultiIndex.from_arrays([
    ['warm', 'warm', 'cold', 'cold'],
    ['dog', 'falcon', 'fish', 'spider']],
    names=['blooded', 'animal'])
s = pd.Series([4, 2, 0, 8], name='legs', index=idx)

In [117]:
s

blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

In [134]:
s['warm'].sum()

6

In [150]:
s.sum(level='blooded')

blooded
warm    6
cold    8
Name: legs, dtype: int64