# DataFrame输出到excel，to_excel，to_csv方法

`DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=_NoDefault.no_default, inf_rep='inf', verbose=_NoDefault.no_default, freeze_panes=None, storage_options=None)`  
**可指定sheet页，可用WriteExcel对象写入多个sheet，可指定是否写入header和index，指定index的名字，指定写几行几列，指定空值替换为什么符号**

1. na_rep:str, default ‘’  
    :Missing data representation.空值默认写空，也可替换为其他  
2. float_format:str, optional  
Format string for floating point numbers. For example float_format="%.2f" will format 0.1234 to 0.12.  
3. indexbool, default True  
Write row names (index). 是否写入索引，默认是  

`DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)`

In [1]:
import pandas as pd

In [10]:
ex = pd.read_excel('D:\python\pynote\pandas\doc\c.xlsx',usecols=['支队','日期2','系统A','系统B','系统C'])

In [11]:
ex

     支队          日期2    系统A    系统B    系统C
0   一支队   2022年10月1日   12.0   13.0   14.0
1   二支队   2022年10月2日   42.0    NaN   42.0
2   三支队   2022年10月3日   72.0   72.0   72.0
3   四支队   2022年10月4日  102.0  102.0    NaN
4   五支队   2022年10月5日    NaN    NaN  132.0
5   六支队   2022年10月6日  162.0  162.0  162.0
6   七支队   2022年10月7日  192.0  192.0  192.0
7   八支队   2022年10月8日  222.0    NaN  222.0
8   九支队   2022年10月9日  252.0  252.0    NaN
9   一支队  2022年10月10日  282.0  282.0  282.0
10  一支队  2022年10月11日  312.0  312.0  312.0
11  一支队  2022年10月12日  342.0  342.0  342.0
12  一支队  2022年10月13日  372.0  372.0  372.0
13  一支队  2022年10月14日  402.0  402.0  402.0

In [15]:
ex.to_excel('D:\python\pynote\pandas\doc\w_c.xlsx',na_rep='null')

In [16]:
df2 = ex.copy()

In [ ]:
with pd.ExcelWriter(r'D:\python\pynote\pandas\doc\w2_c.xlsx') as writer:
    ex.to_excel(writer,'sheet11')
    df2.to_excel(writer,'sheet22')

### 用ExcelWriter写入到两个sheet页 
mode='a' 追加模式，index 是否写入索引，默认为是

In [32]:
with pd.ExcelWriter(r'D:\python\pynote\pandas\doc\w3_c.xlsx' ,engine='openpyxl') as writer:
    ex.to_excel(writer,'sheet11',index=False)
    df2.to_excel(writer,'sheet22',index=False)

In [35]:
with pd.ExcelWriter(r'D:\python\pynote\pandas\doc\w4_c.xlsx' ,engine='openpyxl') as writer:
    ex.to_excel(writer,'sheet11',index_label='AB')
    df2.to_excel(writer,'sheet22')

In [57]:
csv = pd.read_csv(r'D:\python\pynote\pandas\doc\b.csv',sep='[,+]+',engine='python',index_col=0)

In [45]:
csv

   姓名  年龄   身高
0  张三  23  170
1  李四  25  178

In [73]:
csv.to_csv(r'D:\python\pynote\pandas\doc\out.zip',encoding='gbk',compression={'method':'zip','archive_name':'out.csv'})

In [85]:
csv.to_csv(r'a.zip',mode = 'w',sep=' ',compression='zip')

In [2]:
data = pd.read_excel(r"C:\Users\flying\Desktop\198103642_0_2022年出差统计_9_9.xlsx")

In [3]:
data

,序号,提交答卷时间,所用时间,来源,来源详情,来自IP,1、姓名：,2、出差开始日期1：,3、出差返回日期1：,4、出差天数1:,5、出差开始日期2：,6、出差结束日期2：,7、出差天数2:,8、出差开始日期3：,9、出差结束日期3：,10、出差天数3：,11、出差开始日期4：,12、出差结束日期4：,13、出差天数4：
0,1.0,2022/11/29 11:10:43,62秒,微信,NaN,113.249.213.166(重庆-重庆),古俊晟,2022-08-20,2022-09-23,35,(空),(空),(空),(空),(空),(空),(空),(空),(空)
1,2.0,2022/11/29 11:12:18,92秒,微信,NaN,220.192.175.239(重庆-重庆),张灿,2022-10-17,2022-10-29,(空),(空),(空),(空),(空),(空),(空),(空),(空),(空)
2,3.0,2022/11/29 11:13:38,34秒,微信,NaN,119.86.42.25(重庆-重庆),刘强,2022-10-10,2022-11-11,33,(空),(空),(空),(空),(空),(空),(空),(空),(空)
3,4.0,2022/11/29 11:14:56,291秒,微信,NaN,27.10.166.5(重庆-重庆),徐志强,2022-07-01,2022-07-12,12,2022-10-10,2022-10-28,18,(空),(空),(空),(空),(空),(空)
4,5.0,2022/11/29 11:15:04,75秒,微信,NaN,117.136.30.22(重庆-重庆),黄宽亮,2022-08-31,2022-09-30,31,(空),(空),(空),(空),(空),(空),(空),(空),(空)
5,6.0,2022/11/29 11:23:59,678秒,微信,NaN,106.84.233.188(重庆-重庆),陈立锋,2022-09-13,2022-09-24,12,2022-09-24,2022-09-30,7,(空),(空),(空),(空),(空),(空)
6,8.0,2022/11/29 11:35:54,117秒,微信,NaN,123.145.10.142(重庆-重庆),白德明,2022-04-07,2022-04-22,16,2022-06-27,2022-07-15,19,2022-08-20,2022-09-23,35,2022-10-20,2022-11-04,16
7,9.0,2022/11/29 11:39:10,305秒,微信,NaN,106.92.119.36(重庆-重庆),徐煜,2022-01-18,2022-01-19,2,2022-09-24,2022-09-30,7,(空),(空),(空),(空),(空),(空)
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141,NaN,NaN,51,NaN,NaN,35,NaN,NaN,16
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data

,序号,提交答卷时间,所用时间,来源,来源详情,来自IP,1、姓名：,2、出差开始日期1：,3、出差返回日期1：,4、出差天数1:,5、出差开始日期2：,6、出差结束日期2：,7、出差天数2:,8、出差开始日期3：,9、出差结束日期3：,10、出差天数3：,11、出差开始日期4：,12、出差结束日期4：,13、出差天数4：
0,1.0,2022/11/29 11:10:43,62秒,微信,NaN,113.249.213.166(重庆-重庆),古俊晟,2022-08-20,2022-09-23,35,(空),(空),(空),(空),(空),(空),(空),(空),(空)
1,2.0,2022/11/29 11:12:18,92秒,微信,NaN,220.192.175.239(重庆-重庆),张灿,2022-10-17,2022-10-29,(空),(空),(空),(空),(空),(空),(空),(空),(空),(空)
2,3.0,2022/11/29 11:13:38,34秒,微信,NaN,119.86.42.25(重庆-重庆),刘强,2022-10-10,2022-11-11,33,(空),(空),(空),(空),(空),(空),(空),(空),(空)
3,4.0,2022/11/29 11:14:56,291秒,微信,NaN,27.10.166.5(重庆-重庆),徐志强,2022-07-01,2022-07-12,12,2022-10-10,2022-10-28,18,(空),(空),(空),(空),(空),(空)
4,5.0,2022/11/29 11:15:04,75秒,微信,NaN,117.136.30.22(重庆-重庆),黄宽亮,2022-08-31,2022-09-30,31,(空),(空),(空),(空),(空),(空),(空),(空),(空)
5,6.0,2022/11/29 11:23:59,678秒,微信,NaN,106.84.233.188(重庆-重庆),陈立锋,2022-09-13,2022-09-24,12,2022-09-24,2022-09-30,7,(空),(空),(空),(空),(空),(空)
6,8.0,2022/11/29 11:35:54,117秒,微信,NaN,123.145.10.142(重庆-重庆),白德明,2022-04-07,2022-04-22,16,2022-06-27,2022-07-15,19,2022-08-20,2022-09-23,35,2022-10-20,2022-11-04,16
7,9.0,2022/11/29 11:39:10,305秒,微信,NaN,106.92.119.36(重庆-重庆),徐煜,2022-01-18,2022-01-19,2,2022-09-24,2022-09-30,7,(空),(空),(空),(空),(空),(空)
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141,NaN,NaN,51,NaN,NaN,35,NaN,NaN,16
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data.iloc[:,[1,3,6]]

                 提交答卷时间   来源 1、姓名：
0   2022/11/29 11:10:43   微信   古俊晟
1   2022/11/29 11:12:18   微信    张灿
2   2022/11/29 11:13:38   微信    刘强
3   2022/11/29 11:14:56   微信   徐志强
4   2022/11/29 11:15:04   微信   黄宽亮
5   2022/11/29 11:23:59   微信   陈立锋
6   2022/11/29 11:35:54   微信   白德明
7   2022/11/29 11:39:10   微信    徐煜
8                   NaN  NaN   NaN
9                   NaN  NaN   NaN
10                  NaN  NaN   NaN

In [ ]:
data