In [2]:
import pandas as pd

In [3]:
data = pd.read_excel(r'D:\python\pynote\pandas\doc\模拟.xlsx',index_col='支队')

In [4]:
data

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
支队
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0

In [5]:
def f(x):
    li = ['八支队','九支队']
    for s in li:
        if x.startswith(s):
            return s
    return x

In [6]:
df1=data.groupby(f).sum()

In [7]:
df1

     系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
一支队   12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
七支队   18   0.0  20.0   21   0.0  23.0  24.0  25.0  26.0
三支队   14   7.0  16.0   17   0.0   0.0  20.0  21.0  22.0
九支队   63  27.0  69.0   72  75.0  78.0  81.0  84.0  57.0
二支队   13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
五支队   16   9.0   0.0   19  20.0  21.0  22.0   0.0  24.0
八支队   66  45.0  72.0   75  78.0  81.0  84.0  87.0  90.0
六支队   17  10.0  19.0   20  21.0  22.0   0.0  24.0  25.0
四支队   15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0

In [8]:
df1.loc['总和']=df1.sum()

In [9]:
df1

       系统A    系统B    系统C    系统D    系统E    系统F    系统G    系统H    系统I
一支队   12.0    5.0   14.0   15.0   16.0   17.0   18.0   19.0   20.0
七支队   18.0    0.0   20.0   21.0    0.0   23.0   24.0   25.0   26.0
三支队   14.0    7.0   16.0   17.0    0.0    0.0   20.0   21.0   22.0
九支队   63.0   27.0   69.0   72.0   75.0   78.0   81.0   84.0   57.0
二支队   13.0    6.0   15.0   16.0   17.0   18.0   19.0   20.0   21.0
五支队   16.0    9.0    0.0   19.0   20.0   21.0   22.0    0.0   24.0
八支队   66.0   45.0   72.0   75.0   78.0   81.0   84.0   87.0   90.0
六支队   17.0   10.0   19.0   20.0   21.0   22.0    0.0   24.0   25.0
四支队   15.0    8.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
总和   234.0  117.0  242.0  273.0  246.0  280.0  289.0  302.0  308.0

In [10]:
df1.loc[:,'总和']=df1.sum(1)

In [11]:
df1

       系统A    系统B    系统C    系统D    系统E    系统F    系统G    系统H    系统I      总和
一支队   12.0    5.0   14.0   15.0   16.0   17.0   18.0   19.0   20.0   136.0
七支队   18.0    0.0   20.0   21.0    0.0   23.0   24.0   25.0   26.0   157.0
三支队   14.0    7.0   16.0   17.0    0.0    0.0   20.0   21.0   22.0   117.0
九支队   63.0   27.0   69.0   72.0   75.0   78.0   81.0   84.0   57.0   606.0
二支队   13.0    6.0   15.0   16.0   17.0   18.0   19.0   20.0   21.0   145.0
五支队   16.0    9.0    0.0   19.0   20.0   21.0   22.0    0.0   24.0   131.0
八支队   66.0   45.0   72.0   75.0   78.0   81.0   84.0   87.0   90.0   678.0
六支队   17.0   10.0   19.0   20.0   21.0   22.0    0.0   24.0   25.0   158.0
四支队   15.0    8.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0   163.0
总和   234.0  117.0  242.0  273.0  246.0  280.0  289.0  302.0  308.0  2291.0

In [12]:
sort_list=['一支队','二支队','三支队','四支队','五支队','六支队','七支队','八支队','九支队']

['一支队', '七支队', '三支队', '九支队', '二支队', '五支队', '八支队', '六支队', '四支队', 'm']

In [13]:
sort_map = {key:idx  for idx,key in enumerate(sort_list,1)}

In [14]:
sort_map

{'一支队': 1,
 '二支队': 2,
 '三支队': 3,
 '四支队': 4,
 '五支队': 5,
 '六支队': 6,
 '七支队': 7,
 '八支队': 8,
 '九支队': 9}

In [15]:
df1.sort_index(key=lambda x:[sort_map.get(i,100) for i in x])

       系统A    系统B    系统C    系统D    系统E    系统F    系统G    系统H    系统I      总和
一支队   12.0    5.0   14.0   15.0   16.0   17.0   18.0   19.0   20.0   136.0
二支队   13.0    6.0   15.0   16.0   17.0   18.0   19.0   20.0   21.0   145.0
三支队   14.0    7.0   16.0   17.0    0.0    0.0   20.0   21.0   22.0   117.0
四支队   15.0    8.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0   163.0
五支队   16.0    9.0    0.0   19.0   20.0   21.0   22.0    0.0   24.0   131.0
六支队   17.0   10.0   19.0   20.0   21.0   22.0    0.0   24.0   25.0   158.0
七支队   18.0    0.0   20.0   21.0    0.0   23.0   24.0   25.0   26.0   157.0
八支队   66.0   45.0   72.0   75.0   78.0   81.0   84.0   87.0   90.0   678.0
九支队   63.0   27.0   69.0   72.0   75.0   78.0   81.0   84.0   57.0   606.0
总和   234.0  117.0  242.0  273.0  246.0  280.0  289.0  302.0  308.0  2291.0

In [16]:
df1.values.tolist()

[[12.0, 5.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 136.0],
 [18.0, 0.0, 20.0, 21.0, 0.0, 23.0, 24.0, 25.0, 26.0, 157.0],
 [14.0, 7.0, 16.0, 17.0, 0.0, 0.0, 20.0, 21.0, 22.0, 117.0],
 [63.0, 27.0, 69.0, 72.0, 75.0, 78.0, 81.0, 84.0, 57.0, 606.0],
 [13.0, 6.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 145.0],
 [16.0, 9.0, 0.0, 19.0, 20.0, 21.0, 22.0, 0.0, 24.0, 131.0],
 [66.0, 45.0, 72.0, 75.0, 78.0, 81.0, 84.0, 87.0, 90.0, 678.0],
 [17.0, 10.0, 19.0, 20.0, 21.0, 22.0, 0.0, 24.0, 25.0, 158.0],
 [15.0, 8.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 163.0],
 [234.0, 117.0, 242.0, 273.0, 246.0, 280.0, 289.0, 302.0, 308.0, 2291.0]]

In [17]:
data

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
支队
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0

In [18]:
pd.concat([data,df1],axis=1)

,系统A,系统B,系统C,系统D,系统E,系统F,系统G,系统H,系统I,系统A,系统B,系统C,系统D,系统E,系统F,系统G,系统H,系统I,总和
一支队,12.0,5.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,12.0,5.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,136.0
二支队,13.0,6.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,13.0,6.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,145.0
三支队,14.0,7.0,16.0,17.0,NaN,NaN,20.0,21.0,22.0,14.0,7.0,16.0,17.0,0.0,0.0,20.0,21.0,22.0,117.0
四支队,15.0,8.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,15.0,8.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,163.0
五支队,16.0,9.0,NaN,19.0,20.0,21.0,22.0,NaN,24.0,16.0,9.0,0.0,19.0,20.0,21.0,22.0,0.0,24.0,131.0
六支队,17.0,10.0,19.0,20.0,21.0,22.0,NaN,24.0,25.0,17.0,10.0,19.0,20.0,21.0,22.0,0.0,24.0,25.0,158.0
七支队,18.0,NaN,20.0,21.0,NaN,23.0,24.0,25.0,26.0,18.0,0.0,20.0,21.0,0.0,23.0,24.0,25.0,26.0,157.0
八支队一大队,19.0,12.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
九支队一大队,20.0,13.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
九支队二大队,21.0,14.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
九支队三大队,22.0,NaN,24.0,25.0,26.0,27.0,28.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
八支队二大队,23.0,16.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
八支队三大队,24.0,17.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
九支队,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,27.0,69.0,72.0,75.0,78.0,81.0,84.0,57.0,606.0
八支队,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,45.0,72.0,75.0,78.0,81.0,84.0,87.0,90.0,678.0
总和,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234.0,117.0,242.0,273.0,246.0,280.0,289.0,302.0,308.0,2291.0

In [19]:
pd.concat([data,data.sum(1).rename('总和')],axis=1)

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I     总和
支队
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0  136.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0  145.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0  117.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0  163.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0  131.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0  158.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0  157.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0  199.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0  208.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0  217.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN  181.0
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0  235.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0  244.0

In [20]:
data.append(data.sum(0).rename('总和'))

          系统A    系统B    系统C    系统D    系统E    系统F    系统G    系统H    系统I
支队
一支队      12.0    5.0   14.0   15.0   16.0   17.0   18.0   19.0   20.0
二支队      13.0    6.0   15.0   16.0   17.0   18.0   19.0   20.0   21.0
三支队      14.0    7.0   16.0   17.0    NaN    NaN   20.0   21.0   22.0
四支队      15.0    8.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
五支队      16.0    9.0    NaN   19.0   20.0   21.0   22.0    NaN   24.0
六支队      17.0   10.0   19.0   20.0   21.0   22.0    NaN   24.0   25.0
七支队      18.0    NaN   20.0   21.0    NaN   23.0   24.0   25.0   26.0
八支队一大队   19.0   12.0   21.0   22.0   23.0   24.0   25.0   26.0   27.0
九支队一大队   20.0   13.0   22.0   23.0   24.0   25.0   26.0   27.0   28.0
九支队二大队   21.0   14.0   23.0   24.0   25.0   26.0   27.0   28.0   29.0
九支队三大队   22.0    NaN   24.0   25.0   26.0   27.0   28.0   29.0    NaN
八支队二大队   23.0   16.0   25.0   26.0   27.0   28.0   29.0   30.0   31.0
八支队三大队   24.0   17.0   26.0   27.0   28.0   29.0   30.0   31.0   32.0
总和      234.0  117.0  242.0  273.0  246.0  280.0  289.0  302.0  308.0

In [21]:
data.append(data.sum().rename('总和').to_frame().T)

          系统A    系统B    系统C    系统D    系统E    系统F    系统G    系统H    系统I
一支队      12.0    5.0   14.0   15.0   16.0   17.0   18.0   19.0   20.0
二支队      13.0    6.0   15.0   16.0   17.0   18.0   19.0   20.0   21.0
三支队      14.0    7.0   16.0   17.0    NaN    NaN   20.0   21.0   22.0
四支队      15.0    8.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
五支队      16.0    9.0    NaN   19.0   20.0   21.0   22.0    NaN   24.0
六支队      17.0   10.0   19.0   20.0   21.0   22.0    NaN   24.0   25.0
七支队      18.0    NaN   20.0   21.0    NaN   23.0   24.0   25.0   26.0
八支队一大队   19.0   12.0   21.0   22.0   23.0   24.0   25.0   26.0   27.0
九支队一大队   20.0   13.0   22.0   23.0   24.0   25.0   26.0   27.0   28.0
九支队二大队   21.0   14.0   23.0   24.0   25.0   26.0   27.0   28.0   29.0
九支队三大队   22.0    NaN   24.0   25.0   26.0   27.0   28.0   29.0    NaN
八支队二大队   23.0   16.0   25.0   26.0   27.0   28.0   29.0   30.0   31.0
八支队三大队   24.0   17.0   26.0   27.0   28.0   29.0   30.0   31.0   32.0
总和      234.0  117.0  242.0  273.0  246.0  280.0  289.0  302.0  308.0

In [22]:
data

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
支队
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0

In [23]:
data

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
支队
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0

In [25]:
data.rename_axis('ccc')

        系统A   系统B   系统C  系统D   系统E   系统F   系统G   系统H   系统I
ccc
一支队      12   5.0  14.0   15  16.0  17.0  18.0  19.0  20.0
二支队      13   6.0  15.0   16  17.0  18.0  19.0  20.0  21.0
三支队      14   7.0  16.0   17   NaN   NaN  20.0  21.0  22.0
四支队      15   8.0  17.0   18  19.0  20.0  21.0  22.0  23.0
五支队      16   9.0   NaN   19  20.0  21.0  22.0   NaN  24.0
六支队      17  10.0  19.0   20  21.0  22.0   NaN  24.0  25.0
七支队      18   NaN  20.0   21   NaN  23.0  24.0  25.0  26.0
八支队一大队   19  12.0  21.0   22  23.0  24.0  25.0  26.0  27.0
九支队一大队   20  13.0  22.0   23  24.0  25.0  26.0  27.0  28.0
九支队二大队   21  14.0  23.0   24  25.0  26.0  27.0  28.0  29.0
九支队三大队   22   NaN  24.0   25  26.0  27.0  28.0  29.0   NaN
八支队二大队   23  16.0  25.0   26  27.0  28.0  29.0  30.0  31.0
八支队三大队   24  17.0  26.0   27  28.0  29.0  30.0  31.0  32.0

In [30]:
d1=data.rename_axis('ddd',axis=1)

In [32]:
d1.columns

Index(['系统A', '系统B', '系统C', '系统D', '系统E', '系统F', '系统G', '系统H', '系统I'], dtype='object', name='ddd')